/*--------------------------------*\
    GLOBALS
\*--------------------------------*/
/* for mixins, variables, and global styles */
/*
 * Responsive Breakpoints
 ***************************/
/*
 * Margins / Max Widths
 ***************************/
/*
 * Font Stacks
 *
 ***************************/
/*
  * FUTURA
  *   @weights
  *    + Light: 300
  *    + Book: 400
  *    + Medium: 500
  *    + Demi: 600
  *    + Heavy: 700
  */
/*
  * Font Styles
  *
  * @parameter $responsive : boolean, whether the font style needs responsive styles
  * @parameter $mobile : boolean, whether to only output mobile style
  ***************************/
/* Hero */
/* H1 components */
/* H1 */
/* H1 components */
/* H2 */
/* H2 Components */
/* H3 */
/* H3 Components */
/* H4 */
/* H4 Components */
/* H5 */
/* H5 Components */
/* H6 */
/* H6 Components */
/* Paragraph */
/* Paragraph Components */
/* Nav Font */
/* Nav Font Components */
/* Nav Font */
/* Nav Font Components */
/* Nav Font */
/* Nav Font Components */
/* Caption Font */
/* Nav Font Components */
/* Link Font */
/* Nav Font Components */
/* Button Font */
/* Nav Font Components */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  left: 0;
  top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5% !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 340px) {
  html {
    font-size: 50% !important;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: futura-pt, sans-serif;
  background-image: linear-gradient(180deg, #0D0D0D 0%, #0B0B0A 99%, #0B0B0A 100%);
  background-color: #0D0D0D;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 4.4rem;
  letter-spacing: 0.25remx;
  text-transform: none;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 4.6rem;
  line-height: 6rem;
  letter-spacing: 0.25rem;
  text-transform: none;
  color: #C83112;
}

h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.6rem;
  letter-spacing: 0.25rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.9rem;
    letter-spacing: 0.179rem;
    text-transform: none;
  }
}

h4 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.25rem;
  text-transform: none;
}

h5 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-transform: uppercase;
}

h6 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: normal;
  text-transform: uppercase;
}

p {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.12rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  p {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.107rem;
    text-transform: none;
  }
}

a {
  text-decoration: underline;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}

.container-margins {
  width: calc(100% - calc(16px * 2));
  max-width: 986px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 1440px) {
  .container-margins {
    max-width: 986px;
  }
}

@media (max-width: 767px) {
  .container-margins {
    width: calc(100vw - calc(16px * 2));
  }
}

.content-margins {
  width: calc(100% - calc(32px * 2));
  max-width: 628px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 1440px) {
  .content-margins {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .content-margins {
    width: calc(100vw - calc(32px * 2));
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.no-scroll {
  overflow: hidden;
}

b, strong {
  font-weight: bold;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

/*--------------------------------*\
  STRUCTURE
\*--------------------------------*/
/* for global site structure */
.site-header {
  padding: 2.6rem 4.6rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  z-index: 10;
  background-image: linear-gradient(180deg, #110F10 0%, rgba(17, 15, 16, 0) 100%);
}

@media (max-width: 767px) {
  .site-header {
    padding: 2rem;
    background-image: unset;
  }
}

.site-header__branding {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 8.9rem;
  margin-right: 9rem;
  pointer-events: auto;
  color: #C83112;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .site-header__branding {
    margin-right: 5.6rem;
  }
}

.site-header__branding img, .site-header__branding svg {
  width: 100%;
  height: auto;
}

.site-header__branding a {
  transition: color 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

.site-header__branding a:hover, .site-header__branding a:focus {
  color: #FFFFFF;
}

.site-header__aux {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

@media (max-width: 767px) {
  .site-header__aux {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #0D0D0D 0%, #0B0B0A 99.44%, #0B0B0A 100%);
    pointer-events: none;
    z-index: 9;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
    transition: clip-path 800ms cubic-bezier(0.64, 0.04, 0.35, 1);
    padding: 3rem;
    padding-top: 10.2rem;
  }
  .site-header__aux.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media (min-width: 768px) {
  .site-header__mobilebranding {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-header__mobilebranding {
    display: block;
    padding-bottom: 4.4rem;
    border-bottom: 1px solid rgba(255, 251, 234, 0.4);
    margin-bottom: 7.6rem;
  }
  .site-header__mobilebranding img {
    width: 100%;
    height: auto;
    max-width: 25.1rem;
  }
}

.site-header__toggle {
  pointer-events: auto;
}

@media (min-width: 768px) {
  .site-header__toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-header__toggle {
    position: fixed;
    right: 0;
    top: 0;
    width: 7.4rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #110F10;
    z-index: 10;
    transition: color 300ms cubic-bezier(0.64, 0.04, 0.35, 1), background 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
  }
  .site-header__toggle:hover, .site-header__toggle:focus {
    background-color: #FFFFFF;
    color: #110F10;
  }
}

.site-header__toggle.active .hamburger-icon__line {
  transform: scaleX(0);
}

.site-header__toggle.active .hamburger-icon__line:nth-child(1) {
  transition-delay: 0ms;
}

.site-header__toggle.active .hamburger-icon__line:nth-child(2) {
  transition-delay: 100ms;
}

.site-header__toggle.active .hamburger-icon__line:nth-child(3) {
  transition-delay: 200ms;
}

.site-header__toggle.active .hamburger-icon__cross:first-child {
  transition-delay: 500ms;
  transform: rotate(45deg) scaleX(1);
}

.site-header__toggle.active .hamburger-icon__cross:last-child {
  transition-delay: 600ms;
  transform: rotate(-45deg) scaleX(1);
}

.site-header__nav {
  pointer-events: auto;
}

@media (min-width: 768px) {
  .site-header__nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.site-header__nav__list-item {
  margin: 0 4rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .site-header__nav__list-item {
    margin: 0 1.6rem;
  }
  .site-header__nav__list-item:first-child {
    margin-left: 0;
  }
  .site-header__nav__list-item:last-child {
    margin-right: 0;
  }
}

.site-header__nav__list-item:first-child {
  margin-left: 0;
}

.site-header__nav__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .site-header__nav__list-item {
    margin: 4rem 0;
  }
  .site-header__nav__list-item:first-child {
    margin-top: 0;
  }
  .site-header__nav__list-item:last-child {
    margin-bottom: 0;
  }
}

.site-header__nav__list-item__link {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

@media screen and (max-width: 767px) {
  .site-header__nav__list-item__link {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.383rem;
    text-transform: uppercase;
  }
}

.site-header__nav__list-item__link:hover, .site-header__nav__list-item__link:focus {
  color: #C83112;
}

.hamburger-icon {
  width: 2.8rem;
  height: 2rem;
  position: relative;
  color: inherit;
}

.hamburger-icon__inactive {
  position: absolute;
  left: calc(50% - 1.4rem);
  top: calc(50% - 1rem);
  width: 2.8rem;
  height: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.hamburger-icon__active {
  position: absolute;
  left: calc(50% - 0.8rem);
  top: calc(50% - 0.8rem);
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
}

.hamburger-icon__line {
  width: 2.8rem;
  height: 0.1rem;
  background: currentColor;
  transform-origin: left center;
  transition: transform 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

.hamburger-icon__line:nth-child(1) {
  transition-delay: 300ms;
}

.hamburger-icon__line:nth-child(2) {
  transition-delay: 400ms;
}

.hamburger-icon__line:nth-child(3) {
  transition-delay: 500ms;
}

.hamburger-icon__cross {
  width: 2rem;
  height: 0.1rem;
  background: currentColor;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

.hamburger-icon__cross:first-child {
  left: 0.1rem;
  top: 0;
  transform-origin: left center;
  transform: rotate(45deg) scaleX(0);
}

.hamburger-icon__cross:last-child {
  right: 0.1rem;
  top: 0;
  transform-origin: right center;
  transform: rotate(-45deg) scaleX(0);
}

/*--------------------------------*\
   TEMPLATES
\*--------------------------------*/
/* for page template and archive structure */
@media (min-width: 768px) {
  .homepage {
    padding-right: 50%;
    position: relative;
    padding-top: 9.4rem;
  }
  .homepage-upper {
    min-height: calc(100vh - 9.4rem);
    padding-bottom: 9.4rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .homepage-lower {
    max-width: 40rem;
  }
}

.homepage-upper > svg {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media (max-width: 767px) {
  .homepage-upper > svg {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .homepage-upper {
    margin-bottom: 2rem;
    padding-top: 11.4rem;
  }
}

.homepage-upper__mark {
  position: absolute;
  right: 100%;
  top: calc(50% - 7.2rem);
  transform: translate(50%, -50%);
  padding: 4.6rem;
  background: #110F10;
}

.homepage-upper__mark::before {
  content: '';
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  width: calc(100% - 3.2rem);
  height: calc(100% - 3.2rem);
  border: 1px solid rgba(200, 49, 18, 0.4);
}

@media (max-width: 767px) {
  .homepage-upper__mark {
    right: 50%;
    top: 0;
    padding: 2.6rem;
  }
  .homepage-upper__mark svg {
    width: 2.1rem;
    height: auto;
  }
  .homepage-upper__mark::before {
    left: 1rem;
    top: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
}

@media (min-width: 768px) {
  .homepage-gallery {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    padding-left: 3.2rem;
    z-index: 2;
  }
  .homepage-gallery__inner {
    position: sticky;
    position: -webkit-sticky;
    top: 9.4rem;
    padding-bottom: 9.4rem;
    min-height: calc(100vh - 9.4rem);
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .homepage-gallery {
    position: relative;
  }
}

.homepage-gallery__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 1.6rem;
  align-self: center;
  background-image: linear-gradient(0deg, #c83112 0%, #c83112 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left center;
}

.homepage-gallery__nav-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid #C83112;
  pointer-events: none;
  opacity: 0;
  box-sizing: border-box;
}

.homepage-gallery__nav-indicator.active {
  opacity: 1;
  transition: left 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

.homepage-gallery__nav .slick-arrow {
  width: 1.2rem;
  height: 2.4rem;
  display: block;
  cursor: pointer;
  background-image: url("../img/chevron.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin: 0 3.2rem;
}

.homepage-gallery__nav .slick-prev {
  order: 1;
  transform: scaleX(-1);
  margin-left: 0;
}

.homepage-gallery__nav .slick-next {
  order: 3;
  margin-right: 0;
}

.homepage-gallery__nav .slick-dots {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-gallery__nav .slick-dots li {
  width: 3.6rem;
  height: 3.6rem;
}

.homepage-gallery__nav .slick-dots li button {
  width: 3.6rem;
  height: 3.6rem;
  display: block;
  color: transparent;
  position: relative;
}

.homepage-gallery__nav .slick-dots li button::before {
  content: '';
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  border: 1px solid #C83112;
  border-radius: 50%;
  transition: background 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
  box-sizing: border-box;
}

.homepage-gallery__nav .slick-dots li button:hover::before, .homepage-gallery__nav .slick-dots li button:focus::before {
  background-color: #FFFFFF;
}

.homepage-gallery__nav .slick-dots li.slick-active button::before {
  background-color: #C83112;
}

.homepage-gallery__list-item {
  position: relative;
}

.homepage-gallery__list-item::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 148%;
}

.homepage-gallery__list-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-gallery__list:not(.slick-initialized) .homepage-gallery__list-item:nth-child(n+2) {
  display: none;
}

/*--------------------------------*\
   BLOCKS
\*--------------------------------*/
/* for gutenberg blocks, native or custom */
.bblock-wysiwyg h2, .bblock-accordion__content h2 {
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}

.bblock-wysiwyg h3, .bblock-accordion__content h3 {
  margin-top: 3.6rem;
  margin-bottom: 1.2rem;
}

.bblock-wysiwyg p, .bblock-accordion__content p {
  margin: 2rem 0;
}

.bblock-separator {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: rgba(255, 251, 234, 0.4);
  margin: 4rem 0;
}

@media (min-width: 768px) {
  .bblock-separator {
    position: relative;
    width: calc(100% + 2.4rem);
    left: -2.4rem;
    margin: 5.6rem 0;
  }
}

.acm-trigger {
  outline: none;
  cursor: pointer;
  padding-right: 4.8rem;
  position: relative;
}

.acm-trigger::before, .acm-trigger::after {
  content: '';
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  right: 0;
  top: calc(50% - 1.6rem);
  border-radius: 50%;
  border: 1px solid #FFFBEA;
  background-color: #110F10;
  background-image: linear-gradient(0deg, #FFFBEA 0%, #FFFBEA 100%);
  background-size: 13px 1px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 300ms cubic-bezier(0.64, 0.04, 0.35, 1), border-color 300ms cubic-bezier(0.64, 0.04, 0.35, 1), filter 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
}

.acm-trigger::after {
  transform: rotate(90deg);
  background-color: transparent;
}

.acm-trigger.active::after {
  opacity: 0;
}

.acm-trigger:hover::before, .acm-trigger:hover::after, .acm-trigger:focus::before, .acm-trigger:focus::after {
  filter: invert(1);
  border-color: #110F10;
}

.acm-controls.has-js {
  display: none;
}

.bblock-accordion__module {
  margin: 2.4rem 0;
}

.bblock-accordion__module:first-child {
  margin-top: 0;
}

.bblock-accordion__module:last-child {
  margin-bottom: 0;
}

.bblock-accordion__subtitle {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.25rem;
  text-transform: none;
  font-weight: 300;
  min-height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .bblock-accordion__subtitle {
    font-weight: 300;
  }
}

.bblock-accordion__subtitle.is-style-small {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-transform: uppercase;
  text-transform: none;
}

@media (max-width: 767px) {
  .bblock-accordion__subtitle.is-style-small {
    text-transform: none;
  }
}

.bblock-accordion__content {
  padding: 2rem 0;
}

.team-module {
  margin: 4rem 0;
}

@media (max-width: 767px) {
  .team-module {
    margin: 2rem 0;
  }
}

.team-module__name, .team-module__title {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-transform: uppercase;
  text-transform: none;
  letter-spacing: 0.25rem;
}

@media (max-width: 767px) {
  .team-module__name, .team-module__title {
    text-transform: none;
    letter-spacing: 0.25rem;
  }
}

.team-module__title {
  font-weight: 300;
}

@media (max-width: 767px) {
  .team-module__title {
    font-weight: 300;
  }
}

.team-module__trigger.is-featured-style .team-module__name, .team-module__trigger.is-featured-style .team-module__title {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.6rem;
  letter-spacing: 0.25rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .team-module__trigger.is-featured-style .team-module__name, .team-module__trigger.is-featured-style .team-module__title {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.9rem;
    letter-spacing: 0.179rem;
    text-transform: none;
  }
}

.team-module__trigger.is-featured-style .team-module__title {
  font-weight: 300;
}

@media (max-width: 767px) {
  .team-module__trigger.is-featured-style .team-module__title {
    font-weight: 300;
  }
}

.bblock-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .bblock-button {
    justify-content: center;
  }
}

.bblock-button__link {
  display: block;
  position: relative;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding: 0 2.8rem;
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background 300ms cubic-bezier(0.64, 0.04, 0.35, 1), color 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
  text-decoration: none;
}

.bblock-button__link:focus, .bblock-button__link:hover, .bblock-button__link.active {
  background-color: #FFFFFF;
  color: #0B0B0A;
}
