{% macro render(title, sections, anchor) -%}
  <section class="bblock-accordion" {% if anchor %}id="{{ anchor }}"{% endif%}>
    {% if title %}
      <h2 class="bblock-accordion__title">{{ title }}</h2>
    {% endif %}
    {% if sections %}
      {% for section in sections %}
      <div class="bblock-accordion__module acm">
        <h3 class="bblock-accordion__subtitle acm-trigger {% if section.style %}is-style-{{ section.style }}{% endif %}" aria-controls="{{ section.id }}" aria-expanded="false" role="button" tabindex="0">
          {{ section.title }}
        </h3>
        <div class="bblock-accordion__content acm-controls" id="{{ section.id }}">
          {{ section.content }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </section>
{%- endmacro %}
