.homepage {
  padding-bottom: 6rem;
  border-bottom: 1px solid rgba($offwhite, 0.4);
  margin-bottom: 9.6rem;
  @include for-size(no-mobile) {
    padding-right: 50%;
    position: relative;
    padding-top: 9.4rem;
    &-upper {
      min-height: calc(100vh - 9.4rem);
      padding-bottom: 9.4rem;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
    } &-lower {
      max-width: 40rem;
      > * {
        &:first-child {
          > p:first-child {
            @include h4-style;
            line-height: 3.4rem;
            font-weight: 300;
            margin-bottom: 3.2rem;
            @include for-size(mobile) {
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  &-upper {
    position: relative;
    z-index: 4;
    > svg {
      max-width: 100%;
      width: auto;
      height: auto;
      margin: 0 auto;
      display: block;
      transition: filter 500ms $bezier;
      * {
        transition: stroke 500ms $bezier;
      }
      @include for-size(mobile) {
        width: 100%;
      }
    }
    @include for-size(mobile) {
      margin-bottom: 2rem;
      padding-top: 11.4rem;
    }
    &__mark {
      position: absolute;
      left: calc(100% + 3.2rem);
      top: calc(50% - 7.2rem);
      transform: translate(-50%, -50%);
      padding: 4.6rem;
      background: $terblack;
      color: $red;
      svg {
        max-width: 3.6rem;
        width: auto;
        height: auto;
      }
      &::before {
        content: '';
        position: absolute;
        left: 1.6rem;
        top: 1.6rem;
        width: calc(100% - 3.2rem);
        height: calc(100% - 3.2rem);
        border: 1px solid rgba($red, 0.4);
      } @include for-size(mobile) {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -25%);
        padding: 2.6rem;
        svg {
          width: 2.1rem;
          height: auto;
        } &::before {
          left: 1rem;
          top: 1rem;
          width: calc(100% - 2rem);
          height: calc(100% - 2rem);
        }
      }
    }
  }

  &-gallery {
    @include for-size(no-mobile) {
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      height: 100%;
      padding-left: 3.2rem;
      z-index: 1;
      &__inner {
        position: sticky;
        position: -webkit-sticky;
        top: 9.4rem;
        padding-bottom: 9.4rem;
        min-height: calc(100vh - 9.4rem);
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
      }
    } @include for-size(mobile) {
      position: relative;
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: 1.6rem;
      align-self: center;
      background-image: linear-gradient(0deg, rgba($red, 1) 0%, rgba($red, 1) 100%);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: left center;
      &-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: 1px solid $red;
        pointer-events: none;
        opacity: 0;
        box-sizing: border-box;
        &.active {
          opacity: 1;
          transition: left 300ms $bezier;
        }
      }

      .slick-arrow {
        width: 1.2rem;
        height: 2.4rem;
        display: block;
        cursor: pointer;
        background-image: url('../img/chevron.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @include flex(0,0,auto);
        margin: 0 3.2rem;
        color: $red;
      }

      .slick-prev {
        order: 1;
        transform: scaleX(-1);
        margin-left: 0;
      }.slick-next {
        order: 3;
        margin-right: 0;
      }

      .slick-dots {
        @include flex(1,0,0);
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          width: 3.6rem;
          height: 3.6rem;
          button {
            width: 3.6rem;
            height: 3.6rem;
            display: block;
            color: transparent;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              left: calc(50% - 0.5rem);
              top: calc(50% - 0.5rem);
              width: 1rem;
              height: 1rem;
              border: 1px solid $red;
              border-radius: 50%;
              transition: background 300ms $bezier;
              box-sizing: border-box;
            }

            &:hover, &:focus {
              &::before {
                background-color: $white;
              }
            }
          }

          &.slick-active {
            button {
              &::before {
                background-color: $red;
              }
            }
          }
        }
      }
    }


    &__list {
      &-item {
        position: relative;
        &::before {
          content: '';
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 148%;
        }
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:not(.slick-initialized) {
        .homepage-gallery__list-item {
          &:nth-child(n+2) {
            display: none;
          }
        }
      }
    }
  }
}

.disco {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  pointer-events: none;
  transform: translateY(-34rem);
  transition: transform 400ms $bezier;
  transition-delay: 0ms;
  background-image: linear-gradient(0deg, $white 0%, $white 100%);
  background-size: 1px 8rem;
  background-repeat: no-repeat;
  background-position: center top;
  &-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    // mix-blend-mode: screen;
    opacity: 0;
    transition: opacity 500ms $bezier;
    z-index: -1;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // mix-blend-mode: screen;
    }
  }
  &-video {
    position: absolute;
    display: block;
    height: 32rem;
    width: 56rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle(24% at 50% 50%);
    &__container {
      display: block;
      overflow: hidden;
      border-radius: 50%;
      width: 22rem;
      filter: brightness(0.9) contrast(1.7);
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
      }
    } &__positioner {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8rem;
      &::before {
        content: '';
        position: absolute;
        right: -1.6rem;
        top: -1.6rem;
        width: 11.8rem;
        height: 11.4rem;
        background-image: url('../img/sparkle_r.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: discoTwinkle;
        animation-iteration-count: infinite;
        animation-duration: 2400ms;
      } &::after {
        content: '';
        position: absolute;
        left: -2.4rem;
        bottom: -2.4rem;
        width: 11.8rem;
        height: 11.4rem;
        background-image: url('../img/sparkle_l.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: discoTwinkle;
        animation-iteration-count: infinite;
        animation-duration: 2800ms;
      }
    }
  }
}

@keyframes discoTwinkle {
  0% {
    transform: scale(0);
  } 5% {
    transform: scale(0);
  } 30% {
    transform: scale(1);
  } 55% {
    transform: scale(0);
  } 100% {
    transform: scale(0);
  }
}


body.disco-active {
  .homepage-upper {
    > svg {
      filter: drop-shadow(0px 0px 3px  #FFFFFF) drop-shadow(0px 0px 4px  #FF9A9A) drop-shadow(0px 2px 30px  #FF9A9A);
      * {
        stroke: #FF9A9A !important;
      }
    }
  }

  .disco {
    transform: translateY(0);
    transition: transform 800ms $bezier;
    transition-delay: 60ms;
    &-background {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}
