{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% import 'template-parts/blocks/wysiwyg.html' as wysiwyg %}
{% import 'template-parts/blocks/separator.html' as separator %}
{% import 'template-parts/blocks/team.html' as team %}
{% import 'template-parts/blocks/accordion.html' as accordion %}
{% import 'template-parts/blocks/button.html' as button %}

{% block content %}
  <main class="container-margins">
    <article class="homepage">
      <div class="homepage-upper">
        {% include "svg/welcome.html" %}
        <div class="homepage-upper__mark" tabindex="0">
          {% include "svg/mark.html" %}
        </div>
      </div>
      {% if pages.by_slug.index.fields.header.gallery.images %}
      <div class="homepage-gallery">
        <div class="homepage-gallery__inner">
          <ul class="homepage-gallery__list">
            {% for item in pages.by_slug.index.fields.header.gallery.images %}
            <li class="homepage-gallery__list-item">
              <img src="{{ item.img.url }}" alt="{{ item.img.alt_text }}">
            </li>
            {% endfor %}
          </ul>
          <div class="homepage-gallery__nav">
            <span class="homepage-gallery__nav-indicator"></span>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="homepage-lower">
        {% for section in pages.by_slug.index.fields.flexible_content.sections %}
          {% if section.sectiontype == 'WYSIWYG' %}
            {{ wysiwyg.render(section.wysiwyg.content, section.anchor) }}
          {% elif section.sectiontype == 'Separator' %}
            {{ separator.render(section.separator.color) }}
          {% elif section.sectiontype == 'Team' %}
            {{ team.render(section.anchor, boxes) }}
          {% elif section.sectiontype == 'Accordion' %}
            {{ accordion.render(section.accordion.title, section.accordion.sections, section.anchor) }}
          {% elif section.sectiontype == 'Button' %}
            {{ button.render(section.anchor, section.link) }}
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </main>
  <div class="disco-background"><img src="{{ static('img/bg.jpg') }}" alt="" role="presentation"></div>
  <div class="disco">
    <div class="disco-video__positioner">
      <div class="disco-video__container">
        <video class="disco-video" autoplay muted loop>
          <source src="{{ static('img/chrome_small.mp4') }}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
{% endblock %}
