.bblock-wysiwyg, .bblock-accordion__content, .site-footer__content {
  h2 {
    margin-top: 3.2rem;
    margin-bottom: 2rem;
  }
  h3 {
    margin-top: 3.6rem;
    margin-bottom: 1.2rem;
  }
  p {
    margin: 2rem 0;
  }
}
